$screen-small: "(min-width : 360px)";
$screen-middle: "(min-width : 540px)";
$screen-middle-large: "(min-width : 770px)"; // ipad width
$screen-large: "(min-width : 1024px)";
$screen-wide: "(min-width : 1200px)";
$text-shadow: 0px 2px 2px lightgray;

@import "./home.scss";
@import "./tile.scss";
@import "./wiki.scss";
@import "./media-details.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: grey;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
