.media-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;

  @media #{$screen-middle} {
    flex-direction: row;
    align-items: flex-start;
  }

  .column-left {
    padding: 0 6px;
    max-width: 300px;

    @media #{$screen-middle} {
      max-width: auto;

      padding: 20px 10px 0 0;
      min-width: 200px;
      width: 200px;
      height: 200px;
    }

    @media #{$screen-middle-large} {
      min-width: 380px;
      width: 380px;
      height: 380px;
    }
    .tile-image {
      width: 100%;
      height: 100%;
    }
  }
}

.link-back {
  padding: 14px 0 0 6px;
}

// GAME SPECIFIC
.screenshots-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;

  @media #{$screen-middle-large} {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .screenshot-image-container {
    padding: 0 6px;
    max-width: 300px;

    @media #{$screen-middle-large} {
      max-width: auto;
      min-width: 300px;
      width: 500px;
    }
    .screenshot-image {
      width: 100%;
      height: 100%;
    }
  }
}

// ALBUM SPECIFIC
.track-title-line {
  display: flex;
  align-items: center;
  height: 1.8em;
}

.tracks-container {
  margin: 0;
  padding: 0;
}
