.content-container {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  width: 96vw;
  max-width: 350px;
  @media #{$screen-middle} {
    width: 86vw;
    max-width: 450px;
  }
  @media #{$screen-middle-large} {
    width: 75vw;
    max-width: 620px;
  }

  @media #{$screen-wide} {
    max-width: 910px;
  }

  .media-info-container {
    display: flex;
    flex-direction: column;
    padding: 6px;

    @media #{$screen-middle-large} {
      flex-direction: row;
      align-items: flex-start;
    }

    .column-left {
      padding: 0 6px;

      .screenshots-image-container {
        display: none;
      }
      @media #{$screen-middle} {
        margin: 0 12px 16px 12px;
        min-width: 380px;
      }

      @media #{$screen-middle-large} {
        padding: 6px 6px 0 0;
        margin: 0 16px 0 0;
        min-width: 200px;
        width: 200px;
        .screenshots-image-container {
          display: block;
        }
      }

      @media #{$screen-wide} {
        min-width: 380px;
        width: 380px;
      }
      .tile-image {
        border-radius: 2em;
        height: 100%;
        width: 100%;
        border: solid 3px lightgray;
      }
    }
    .column-right {
      .screenshots-image-container {
        display: block;
      }
      @media #{$screen-middle-large} {
        .screenshots-image-container {
          display: none;
        }
      }
    }
  }

  .link-back {
    padding: 14px 0 0 6px;
  }

  // GAME SPECIFIC
  .screenshots-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{$screen-middle-large} {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .screenshot-image-container {
      margin: 0 0 6px 0;
      min-width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: solid 3px lightgray;
      border-radius: 2em;
      overflow: hidden;

      .screenshot-image {
        height: auto;
        max-width: 200px;
        max-height: 200px;
      }
    }
  }

  // ALBUM SPECIFIC
  .track-title-line {
    display: flex;
    align-items: center;
    height: 1.8em;
  }

  .tracks-container {
    margin: 0;
    padding: 0;
  }
}

.track-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  .audio-sample {
    width: 50px;
  }
  .track-number {
    width: 50px;
  }
  .track-content-wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .track-name {
      width: 100%;
    }
    .track-length {
      width: 100px;
    }
  }
}
