.tiles-wrapper {
  h1 {
    margin: 20px 0 0 50px;
  }
  .tiles-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    width: 96vw;
    max-width: 380px;
    // background-color: yellow;
    @media #{$screen-middle} {
      width: 86vw;
      max-width: 470px;
      // background-color: red;
    }
    @media #{$screen-middle-large} {
      width: 75vw;
      max-width: 630px;
      // background-color: blue;
    }
    @media #{$screen-wide} {
      max-width: 920px;
      // background-color: green;
    }

    .tile-container {
      padding: 6px;
      height: 150px;
      width: 150px;

      @media #{$screen-middle} {
        height: 194px;
        width: 194px;
      }
      @media #{$screen-middle-large} {
        height: 275px;
        width: 275px;
      }

      position: relative;

      .tile-image {
        border-radius: 2em;
        height: 100%;
        width: 100%;
        border: solid 3px lightgray;
      }
      .tile-image-overlay {
        position: absolute;
        // background-color: red;
        background-color: rgba(255, 255, 255, 0.5);
        height: 28%;
        width: 92.5%;
        left: 6%;
        top: 70%;
        border-bottom-right-radius: 1.8em;
        border-bottom-left-radius: 1.8em;
        @media #{$screen-middle} {
          height: 20.5%;
          top: 78%;
          width: 94.5%;
          left: 4.5%;
          border-bottom-right-radius: 1.75em;
          border-bottom-left-radius: 1.75em;
        }

        @media #{$screen-middle-large} {
          height: 20%;
          top: 79%;
          width: 96%;
          left: 3%;
          border-bottom-right-radius: 1.75em;
          border-bottom-left-radius: 1.75em;
        }
      }
      .tile-text-container {
        position: absolute;
        padding: 8px 0 0 0;
        width: 92%;
        height: 16%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media #{$screen-middle} {
          height: 21%;
        }

        @media #{$screen-middle-large} {
          height: 16%;
          padding: 12px 0 0 0;
        }

        .tile-title {
          // text-decoration: none;
          color: black;
          // text-shadow: $text-shadow;
          font-size: 0.9em;
          font-weight: 600;
          @media #{$screen-middle} {
            font-size: 1em;
          }
          @media #{$screen-middle-large} {
            font-size: 1.15em;
          }
        }
      }
    }
  }
}
