.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: whitesmoke;
  height: 80px;
}

.wiki-content-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow: hidden;

  @media #{$screen-middle} {
    flex-direction: row;
  }
  .article-content-container {
    padding: 6px 2px 2px 6px;
    width: 100%;
    display: flex;
    flex-flow: column;
    // height: calc(100% - 100px);
    height: 100%;
    overflow-y: scroll;

    .title-container {
      margin: 4px 0;
    }
    .edit-title-container {
      width: 100%;
      margin: 0 0 6px 0;
      .edit-title-input {
        width: 100%;
      }
    }
    .editor-container {
      flex: 1 1 auto;
      padding: 0 4px 0 0;
      .for-container {
        height: 100%;
        .for-editor-content {
          height: auto;
        }
      }
      .save-button {
        background-color: whitesmoke;
        color: green;
        margin: 6px 0;
        width: 120px;
        height: 28px;
        font-size: 1rem;
      }
    }
  }
}

.article-list-wrapper {
  border-right: 1px solid gray;
  padding: 6px 2px 2px 6px;
  min-width: 250px;
  max-height: 280px;
  overflow-y: scroll;

  @media #{$screen-middle} {
    flex-direction: row;
    max-height: 100vh;
  }
  @media #{$screen-wide} {
    min-width: 280px;
  }
  .article-list-container {
    display: flex;
    flex-direction: column;
  }
}

.modal-options-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$screen-middle} {
    margin: 12px 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .button {
    margin: 4px;
    padding: 4px;
    width: 200px;
    font-size: 1em;
    text-align: center;
    border: 1px solid gray;
    background: whitesmoke;
  }
}
